body {
  font-family: "Archivo", sans-serif;
}

.listWidth {
  width: 100px;
}

.primaryColor {
  color: #2131b6;
}
.primaryBgColor {
  background: #2131b6;
}
.secondaryFont {
  font-family: "Overpass", sans-serif;
}

.navStyle {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #fff;
}

.navStyle li a {
  color: #ffffff !important;
}

.cardOverlay {
  background: #000000;
  /* mix-blend-mode: multiply; */
}

.cardOverlay img {
  opacity: 0.6;
}

.hero {
  width: 50% !important;
  overflow-wrap: break-word;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

/* .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* About Section */
.aboutFontSize {
  font-size: 40px;
  overflow-wrap: break-word;
  width: 367px;
}

.aboutFontSize-mobile {
  font-size: 32px;
  overflow-wrap: break-word;
}

.aboutMiniFontSize-mobile {
  overflow-wrap: break-word;
  width: 500px;
}

.aboutprimaryfont {
  font-size: 20px;
}
.aboutprimaryfont-mobile {
  font-size: 20px;
}

#about {
  display: block;
}

#aboutmobile {
  display: none;
}

.secondaryFontSize {
  font-weight: 600;
  font-size: 59px;
  line-height: 42px;
  letter-spacing: 0.03em;
  font-family: "Archivo", sans-serif;
}

.secondaryFontSize-mobile {
  font-size: 32px;
  line-height: 35px;
  font-family: "Archivo", sans-serif;
}

#order {
  display: block;
}
#ordermobile {
  display: none;
}

.greyBackground {
  background-color: #f9f9fa;
}

.blueLine {
  border: 2px solid #2131b6;
  width: 20%;
}

.pricingFontSize {
  overflow-wrap: break-word;
}

#imageStyle {
  overflow: hidden;
}

.imgTransform {
  transform: translateX(10%);
}

#getDesktop {
  display: block;
}
#getMobile {
  display: none;
}
/* Container holding the image and the text */
.containers {
  position: relative;
  text-align: center;
  color: white;
}

.cardOverlay {
  background: #000000;
  /* mix-blend-mode: multiply; */
}

.cardOverlay img {
  opacity: 0.6;
}

/* Centered text */
.centered {
  position: absolute;
  top: 30%;
  left: 16px;
  width: 45%;
  font-family: "Archivo", sans-serif;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 30%;
  right: 20%;
}

/* Our drivers */
.pricingFontSize {
  overflow-wrap: break-word;
}

.removeBorder {
  border: none;
  font-family: "Overpass", sans-serif;
}

.outerdiv {
  position: relative;
  text-align: center;
  color: white;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#testimonial {
  display: block;
}
#testimonialmobile {
  display: none;
}

.centerTestimonial {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 25px;
  line-height: 25px;
}

.quoteColor {
  color: #2131b6;
  font-weight: 600 !important;
  font-size: 60px;
  line-height: 42px;
}

#googlemapframe {
  display: block;
}
#googlemapmobile {
  display: none;
}

.contactIconPrimaryFont {
  font-size: 11px;
}
.contactIconSecFont {
  font-size: 14px;
}

#desktopFonts {
  display: block;
}
#mobileFonts {
  display: none;
}

#desktopFonts {
  display: table;
}
.alignRow {
  display: table-cell;
}

.iframeStyle iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.galleryFont {
  font-size: 24px;
}

.textColor {
  color: #25282b;
}

.footerBgColor {
  background-color: #25282b;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  #about {
    display: none;
  }
  #aboutmobile {
    display: block;
  }
  #order {
    display: none;
  }
  #ordermobile {
    display: block;
  }

  #getDesktop {
    display: none;
  }
  #getMobile {
    display: block;
    width: 100%;
  }

  h1 {
    font-size: 32px;
  }

  #getMobile h1 {
    font-size: 20px;
  }

  .mobilegallerysize img {
    width: 100%;
    height: auto;
  }

  #testimonial {
    display: none;
  }
  #testimonialmobile {
    display: block;
  }

  #testimonialmobile p {
    font-size: 10px;
    line-height: 0px;
    /* width: 100%; */
  }

  .centerTestimonial {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-80%, -60%);
  }

  .quoteMobileFont {
    line-height: 1.5 !important;
    color: #000000;
    font-size: 12px !important;
  }

  #googlemapframe {
    display: none;
  }
  #googlemapmobile {
    display: block;
  }

  #desktopFonts {
    display: none;
  }
  #mobileFonts {
    display: block;
  }

  .galleryFont {
    font-size: 20px;
  }

  .footer {
    font-size: 14px !important;
  }
}
